*.sdf
*.opensdf
*.v11.suo
*.vcxproj.user
*.aps
.DS_Store
Thumbs.db
debug.log
/Zephyros.xcodeproj/project.xcworkspace/xcuserdata/
/Zephyros.xcodeproj/xcuserdata/*.xcuserdatad/
/lib
/old
/bin
/ipch
/.vs
* - Kopie*