html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

body {
  padding: 16px;
}


ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 9, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 37, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-color: #222222; }

/* line 45, ../sass/screen.scss */
h1 {
  font-size: 36px; }

/* line 46, ../sass/screen.scss */
h2 {
  font-size: 30px; }

/* line 47, ../sass/screen.scss */
h3 {
  font-size: 24px; }

/* line 48, ../sass/screen.scss */
h4 {
  font-size: 18px; }

/* line 49, ../sass/screen.scss */
h5 {
  font-size: 14px; }

/* line 50, ../sass/screen.scss */
h6 {
  font-size: 12px; }

/* line 52, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 15px 0; }

/* line 56, ../sass/screen.scss */
p {
  margin: 0 0 10px; }

/* line 60, ../sass/screen.scss */
small {
  font-size: 85%; }

/* line 64, ../sass/screen.scss */
b, strong {
  font-weight: 700; }

/* line 68, ../sass/screen.scss */
i, em {
  font-style: italic; }

/* line 72, ../sass/screen.scss */
a {
  color: cornflowerblue; }
  /* line 74, ../sass/screen.scss */
  a:hover {
    color: pink; }

/* line 76, ../sass/screen.scss */
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.6;
  list-style-type: none;
  counter-reset: section;
  margin-left: 3rem; }

/* line 84, ../sass/screen.scss */
ol {
  list-style-type: cjk-ideographic; }

/* line 87, ../sass/screen.scss */
ul {
  list-style-type: hebrew; }

/* line 95, ../sass/screen.scss */
thead {
  border-bottom: 1px solid #222; }
  /* line 97, ../sass/screen.scss */
  thead th {
    padding: 0.5em;
    font-weight: bold; }

/* line 102, ../sass/screen.scss */
tr {
  border-bottom: 1px solid #f1f1f1; }

/* line 106, ../sass/screen.scss */
td {
  padding: 0.5em; }

/* line 113, ../sass/screen.scss */
label {
  display: block;
  min-width: 2em; }

/* line 117, ../sass/screen.scss */
input, textarea {
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: inset 0 7px 7px -7px #dcdcdc;
  box-shadow: inset 0 7px 7px -7px #dcdcdc;
  padding: 6px; }

/* line 125, ../sass/screen.scss */
button {
  background-color: cornflowerblue;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1.2em 0 rgba(255, 255, 255, 0.1), inset 0 -0.2em 0 rgba(255, 255, 255, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 .5em 1em;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  vertical-align: middle; }

/* line 154, ../sass/screen.scss */
button:hover {
  outline: none; }

/* line 157, ../sass/screen.scss */
button:hover,
button:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1.2em 0 rgba(255, 255, 255, 0.1), inset 0 -0.2em 0 rgba(255, 255, 255, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), inset 0 0 0 3em rgba(255, 255, 255, 0.2), 0 0.25em 0.25em rgba(0, 0, 0, 0.05); }

/* line 167, ../sass/screen.scss */
button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1.2em 0 rgba(255, 255, 255, 0.1), inset 0 0 0 3em rgba(255, 255, 255, 0.2), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05), 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.25);
  margin-top: .25em;
  outline: none;
  padding-bottom: .5em; }